/* CELULAR (base mobile first) */

body {

  background-color: #ff552331;

  border: 50px dotted hsla(207, 82%, 50%, 0.8);

}

p {

  column-count: 1;

}

/* TABLET */

@media (min-width: 700px) {

  body {

    background-color: rgb(155, 23, 153);

  }

  p {

    column-count: 2;

  }

} /* cierre del media 700 */

/* DESKTOP */

@media (min-width: 1200px) {

  body {

    background-color: rgb(206, 199, 3);

  }

  p {

    column-count: 3;

  }

}
