body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5f5f5f;
  margin: 0;
}

/* header */

header {
  text-align: center;
  padding: 20px;
}

/* título */

h1 {
  margin-bottom: 10px;
}

/* menú */

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: black;
  background-color: beige;
  padding: 8px 12px;
  border-radius: 5px;
}

/* contenedor principal */

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* tarjetas */

section {
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
}

/* títulos de secciones */

section h2 {
  margin-top: 0;
}

/* imágenes */

img {
  max-width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

/* footer */

footer {
  text-align: center;
  padding: 20px;
}

/* -------- TABLET */

@media (min-width: 700px) {

  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section {
    width: 48%;
  }

}

/* -------- DESKTOP */

@media (min-width: 1200px) {

  section {
    width: 30%;
  }

}
